user.config
bin
obj
mods/*/*.dll
mods/*/*.mdb
mods/*/*.pdb
/*.dll
/*.dll.config
/*.so
/*.dylib
/*.pdb
/*.mdb
/*.exe
DOCUMENTATION.md
Lua-API.md
StyleCopViolations.xml
.DS_Store
/.vs/OpenRA.Mods.RA2/DesignTimeBuild/.dtbcache.v2
/.vs/OpenRA.Mods.RA2/v16/.suo
